@model BookingCartModel
<h3>Booking Cart</h3>
<hr />

@if(Model.BookingCartItems.Count==0)
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-warning">
                There is no movie in your cart!
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <div class="text-left">
                <h4>BookingCart Items</h4>
            </div>
            <table class=" table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Movie Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BookingCartItems)
                    {
                        <tr>
                            <td>
                                <img src="~/movie_img/@item.ImageUrl" width="80px;">
                            </td>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                            <td>@(item.Quantity * item.Price)</td>
                            <td>
                                <form asp-controller="BookingCart" asp-action="DeleteFromBookingCart" method="post">
                                    <input type="hidden" name="movieId" value="@item.MovieId">
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fa fa-times fa-fw"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="text-left">
                <h4>BookingCart Summary</h4>"
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <th>BookingCart Total</th>
                        <td>@Model.TotalPrice().ToString("c")</td>
                    </tr>
                    <tr>
                        <th>Order Total</th>
                        <td>@Model.TotalPrice().ToString("c")</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <a href="/Home/Index" class="btn btn-primary">
                    <i class="fa fa-arrow-circle-left fa-fw"></i>Keeping Shopping
                </a>
                <a href="/BookingCart/Checkout" class="btn btn-primary">
                    <i class="fa fa-arrow-circle-right fa-fw"></i>Checkout
                </a>
            </div>
        </div>
    </div>
}


